name: Test WIS2 Manual build

on:
  pull_request:
    paths:
      - '**.adoc'   
      
env:
  FILE_BASENAME: wis2-manual-APPROVED

jobs:
  build-wis2-manual:
    name: Test documentation build
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y \
          && sudo apt-get install -y pandoc \
          && sudo gem install asciidoctor asciidoctor-pdf
      - name: checkout repository
        uses: actions/checkout@v3
      - name: build documentation
        run: |
          mkdir -p /tmp/wis2-manual/manual \
          && cd manual \
          && asciidoctor --trace -a stylesheet=css/wmo-asciidoc.css -o /tmp/wis2-manual/manual/${FILE_BASENAME}.html index.adoc \
          && asciidoctor --trace --backend docbook --out-file - index.adoc | pandoc --from docbook --to docx --output /tmp/wis2-manual/manual/${FILE_BASENAME}.docx \
          && asciidoctor --trace -r asciidoctor-pdf --trace -b pdf -o /tmp/wis2-manual/manual/${FILE_BASENAME}.pdf index.adoc
